.main-win {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
}

.prod-cat {
    font-size: small;
    width: 280px;
    text-align: right;    
}

.prod-card {
    background-color: #121212;
    width: 300px;
    padding-bottom: 20px;
}

.prod-btn {
    position: relative;
    color: white;
    background-color: #121212;
}

.prod-btn:hover {
    background-color: blue;
    transform: translate(0px, -3px);
}

.prod-ext {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 280px;
}

.prod-price {
    text-align: right;
}

#search {
    background-color: #121212;
    color: white;
    border: cyan;
    border-style: solid;
    border-radius: 30px;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 32%;
}

#search:focus {
    outline: none;
}

#go {
    position: absolute;
    background: none;
    color: cyan;
    border: none;
    transform: translate(-40px, 2px);
}

#go:focus {
    outline: none;
}

.message {
    padding: 10px;
    color: red;
}

hr {
    background-color: #818181;
    height: 1.5px;
    margin: 0 12px 0 12px;
}

.view-all {
    height: 280px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.2);
    color: cyan;
    font-size: larger;
}

.view-all-btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 800px) {
    .search-bar {
        width: 40vw;
    }
    
    .main-win {
        place-content: center;
    }
} 

@media(min-width: 800px) {
    .search-bar {
        width: 30vw;
    }

    .main-win {
        margin-left: 5%;
        margin-right: 5%;
    }
}