.main-win {
    padding-top: 10px;
    font-size: large;
}

.rev-btn:hover {
    transform: translateY(-3px);
}

#id_remarks {
    background-color: #121212;
    border-color: cyan;
    height: 15vh;
    width: 65vw;
    resize: none;
    border-radius: 30px;
    padding-left: 10px;
    outline: none;
    color: white;
    padding-top: 10px;
}

@media(max-width: 800px) {
    #id_remarks {
        width: 65vw;
    }    
}

@media(min-width: 800px) {
    #id_remarks {
        width: 35vw;
    }    
}