{% extends 'store/base.html' %}
{% load static %}
{% block styleLinks %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/register.css'  %}">
    <link rel="stylesheet" type="text/css" href="{% static 'store/add_product.css'  %}">
{% endblock styleLinks %}

{% block bodyContent %}

    <div class="card form-card">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size: x-large; font-weight: bold;"> Add Product Info</legend>
                {% if messages %}
                    {% for message in messages %}
                    <span class="alert-danger"> {{ message }} </span><br>
                    {% endfor %}
                {% endif %}
                <div class="spread">
                    {% for field in form %}
                        <div class="elm elm-{{forloop.counter}}">
                        <br> {{ field.label_tag }} {% if field.field.required %} * {% endif %} <br>
                        <span class="ml-2"> {{ field }}</span><br>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group sgnbtn">
                <button class="btn btn-outline-info" id=add_product_btn type="submit">Add Product</button>
            </div>
        </form>
    </div>

{% endblock bodyContent %}
