.add-prod {
    position: absolute;
    font-size: large;
    color: white;
    text-shadow: 0px 1px 1px white;
    width: fill;
    transform: translateX(150%);
  }

  .add-prod:hover {
    text-decoration: none;
    color: lime;
    text-shadow: 0px 1px 1px lime;
  }