body {
    font-family: 'inter';
    background-color: #121212;
    color: azure;
}

.navbar-brand {
    color: lightblue;
    font-size: x-large;
    font-weight: bolder;
}

.user-btn {
    color: white;
    background-color: black;
}

.user-btn:hover {
    color: lime;
}

.user-lgn-btn {
    color: white;
    background-color: black;
}

.sidenav-btn {
    background: none;
    border: none;
}

.sidenav-btn:focus {
    outline: none;
}

.sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden; 
    padding-top: 40px;
    transition: 0.5s;
    font-size: large;
}

.sidenav a {
    padding: 0px 0px 0px 12px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
}
  
#cat-list {
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-left: 12px;
}

.btn-auth {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 1px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 0.7rem;
    font-weight: 200;
    line-height: 1;
    margin: 10px;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.btn-auth:hover, .btn:focus {
    color: #fff;
    outline: 0;
}

.auth-eff {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 20px 20px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.auth-eff:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 5px 2px #3498db;
}

.auth-link:hover {
    text-decoration: none;
}