body {
    font-family: 'Comic Sans MS';
    background-color: black;
    color: #ffffff;
}

.navbar-brand {
    color: lightblue;
    font-size: x-large;
    font-weight: bolder;
}

.user-btn {
    color: white;
    background-color: black;
}

.user-btn:hover {
    color: lime;
}

.user-lgn-btn {
    color: white;
    background-color: black;
}