{% extends 'shop/base.html' %}
{% load static %}

{% block styleLinks %}
<link rel="stylesheet" type="text/css" href="{% static 'user/home_user.css' %}">
{% endblock styleLinks %}

{% block bar-nav %}
<form method="POST">
    <div class="bar">
            {% csrf_token %}
            <input type="text" name="search" id="search" maxlength="32" placeholder="Search">
            <button id="go" type="submit">Go</button>
        </div>
    </form>
{% endblock bar-nav %}

{% block bodyContent %}
    
    <div class="main-win">

        {% if message %}
            <div class="message">
                {{message}}
            </div>
        {% endif %}

        {% for product in products %}
        <div class="prod-card">
            <img src="{{ media_url }}{{ product.image }}" alt="Card image cap" height="280px", width="280px">
            <div class="prod-cat"> {{product.category.name}} </div>
            <h5> {{ product.name }} </h5>
            <div class="prod-ext">
                <div><a href="{% url 'prod_details' product.prod_id %}"><button class="prod-btn">View more</button></a></div>
                <div class="prod-price">₹ {{ product.price }}</div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock bodyContent %}


