{% extends 'shop/base.html' %}
{% load static %}

{% block styleLinks %}
<link rel="stylesheet" type="text/css" href="{% static 'user/home_user.css' %}">
{% endblock styleLinks %}

{% block side_nav %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'filtered_view_all' %}" >View all products</a>
        <span id="cat-list">Shop by category</span>
        <hr>
        {% for category in categories %}
            <a href="{% url 'filtered_view' category.cat_id %}" class="ml-2">{{ category.name }}</a>
        {% endfor %}
        <hr>
        {% if user_name %}
            <a href="{%url 'my_orders'%}" class="mt-2">Orders</a>
            <a href="{% url 'logout' %}" class="mt-4 nav-logout">Logout</a>
        {% endif %}
    </div> 
    <button class="sidenav-btn navbar-brand" onclick="openNav()">☰</button>
{% endblock side_nav %}

{% block bar-nav %}
<form method="POST">
    <div class="bar">
            {% csrf_token %}
            <input type="text" name="search" id="search" maxlength="32" placeholder="Search">
            <button id="go" type="submit">Go</button>
        </div>
    </form>
{% endblock bar-nav %}

{% block bodyContent %}
    
    <div class="main-win">

        {% if message %}
            <div class="message">
                {{message}}
            </div>
        {% endif %}

        {% for product in products %}
        <div class="prod-card">
            <img src="{{ product.imageUrl }}" alt="Card image cap" height="280px", width="280px">
            <div class="prod-cat"> {{product.category.name}} </div>
            <h5> {{ product.name }} </h5>
            <div class="prod-ext">
                <div><a href="{% url 'prod_details' product.prod_id %}"><button class="btn btn-outline-info">View more</button></a></div>
                <div class="prod-price">₹ {{ product.price }}</div>
            </div>
        </div>
        {% endfor %}
        <div class="prod-card view-all">
            <a href="{% url 'filtered_view_all' %}"><button class="view-all-btn btn btn-outline-info"> View all</button></a>
        </div>
    </div>

{% endblock bodyContent %}
