{% extends 'shop/base.html' %}
{% load static %}
{% block styleLinks %}
    <link rel="stylesheet" type="text/css" href="{%static 'user/product_details.css' %}">
{% endblock styleLinks %}

{%block bodyContent%}
    <div class="main-win">
        <div class="prod-card">
            <img src="{{ media_url }}{{ prod_name.image }}" alt="Card image cap" class="mr-5 prod-img">
            <div class="prod-cat text-muted mt-4" > {{ prod_name.category }} </div>
            <h1> {{ prod_name.name }} </h1>
            <div class="prod-ext mt-3 mb-2">
                <div><h5>₹ {{ prod_name.price }}</h5></div>
            </div>
            <div class="mt-3 mb-2"><h3>Description : </h3></div>
            <div class="prod-cat ml-4 sub-detail">{{ prod_name.details }}</div>

            <div class="mt-3 mb-2"><h3>Seller's Info : </h3></div>
            <div class="prod-cat ml-4 sub-detail">Shop name : {{ prod_name.store_id.name }}</div>
            <div class="prod-cat ml-4 sub-detail">Ph.no : {{ prod_name.store_id.contact }}</div>
            <div class="prod-cat ml-4 sub-detail">Mail : {{ prod_name.store_id.email }}</div>
            <div class="prod-cat ml-4 sub-detail">Address : {{ prod_name.store_id.location }}</div>
        </div>
        <br> <br>
        {%if prod_name.deliverable %}
            <div class="order-btn ml-2">
                <a href="{% url 'order' prod_name.prod_id%}"><button class="prod-btn">Order now</button></a>
            </div>
        {% else %}
            <p class="ml-2">This product is not available for online ordering.<br>Please visit store to buy it.</p>
        {% endif %}
    </div>
{% endblock bodyContent %}